<!DOCTYPE html>
<html>
<head>
  <title>Anpan</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_link_tag 'application' %>
</head>

<body data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>">

<div class="l-navbar_block">
  <!-- TODO: 画像に置き換える -->
  <!-- TODO: リンクの設定 -->
  <div class="l-navbar_logo">Anpan</div>
  <!-- TODO: ログアウトのURL設定 -->
  <a class="l-navbar_logout">ログアウト</a>
</div>

<!-- TODO: iconの設定 -->
<!-- TODO: 選択時のスタイル -->
<!-- TODO: 閉じるボタン -->
<div class="l-sidebar_block">
  <div class="l-sidebar-items">
    <div class="l-sidebar_item">
      <div class="l-sidebar_itemIcon"></div>
      <div class="l-sidebar_itemText">サマリー</div>
    </div>
    <div class="l-sidebar_item">
      <div class="l-sidebar_itemIcon"></div>
      <div class="l-sidebar_itemText">受注管理</div>
    </div>
    <div class="l-sidebar_item">
      <div class="l-sidebar_itemIcon"></div>
      <div class="l-sidebar_itemText">商品管理</div>
    </div>
    <div class="l-sidebar_item">
      <div class="l-sidebar_itemIcon"></div>
      <div class="l-sidebar_itemText">商品管理</div>
    </div>
    <div class="l-sidebar_item">
      <div class="l-sidebar_itemIcon"></div>
      <div class="l-sidebar_itemText">ユーザー投稿</div>
    </div>
    <div class="l-sidebar_item">
      <div class="l-sidebar_itemIcon"></div>
      <div class="l-sidebar_itemText">アカウント</div>
    </div>

  </div>
</div>

<%= yield %>
</body>
</html>
