<!DOCTYPE html>
<html>
<head>
  <title>Anpan</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>">
<%= yield %>
</body>
</html>
